<!DOCTYPE html>
<html class="jumbotron">
<head>
  <title>Friends</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center">
                    
            <h1>voici tous vos amies !</h1>
      
                    
            
            <form class="form-inline"  method="POST" action="/users/friends" id="form">  
                <% for(var i=0; i<list.length; i++) {%>
                  <ul>  
                  <li><input type="button" name="ajout_amie" id="ajout_amie" value="ajouter" onclick="ajouteramis('<%= list[i].id_personne %>')"><a href="" onclick="getfriend('<%= list[i] %>')" > <%= list[i].login %></a></li>
                    <li><a href="" ><%= list[i].adresse_mail %></a></li>
                    <li><a href="" ><%= list[i].adresse %></a></li>
                    <li><a href="" ><%= list[i].telephone %></a></li>
                  </ul>
                    <% } %> 
                 
            </form>
                <script>
                 function ajouteramis(user_ajouter){
                  var jeton = localStorage.getItem("token");
                  var userco = localStorage.getItem("user_id");
                    var params = {'jetons':jeton,
                                  'id_follower': userajouter,
                                  'id_user' : userco
                                  };
                  $.post("/users/friends",params,function(res, status, xhr){
                    
                  });


                 }

                  function getfriend(user){
                    
                    var jeton = localStorage.getItem("token");
                    var params = {'jetons':jeton};
                  $.post("/users/profilamis",params,function(){
                    alert("je suis dans le post de profilamis");
                  window.location="http://localhost:8080/users/profilamis?jetons="+jeton;
                    });
                  console.log("je suis dans le getfriend");
                  }
                  
        
                </script> 
              
</body>
</html>